<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>User Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body
  style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <nav class="view navbar navbar-secondary">
    <a class="navbar-brand" style="color: white;">
      <p style="margin-left: 50px; font-size: 35pt; font-weight: bold;">Welcome</p>
    </a>

    <div class="row justify-content-end" style="margin-right: 20px;">
      <form action="/auth/favorites" method="GET" class="pl-2">
        <button class="btn btn-dark btn-lg" type="submit"
          style="margin-right: 20px; margin-left: 30px;">Favorites</button>
      </form>
      <form action="/auth/logout" method="GET" class="pl-2">
        <button class="btn btn-dark btn-lg" type="submit" style="margin-right: 20px;">Logout</button>
      </form>
    </div>
  </nav>

  <div class="pt-4 container">
    <div class="jumbotron jumbotron-fluid pt-3 pb-3">
      <div class="d-flex flex-row justify-content-center">
          <p class="display-4" id="title"><%=nasaData.title%></p>
      </div>

      <div class="row">
        <img class="rounded border d-inline-block ml-auto mr-auto"src="<%=nasaData.url%>"></div>
      <div class="d-flex flex-row justify-content-between mb-2 mt-2 ml-5 mr-5">
        <form action="/nasa-api-2" method="POST">
          <input type="date" name="userDateInput" id="datepicker" value="<%=nasaData.date%>"></input>
          <button class="btn btn-dark" type="submit">Select</buttonbtn btn-dark btn-lg>
        </form>
        <form action="/auth/add-favorite" method="POST">
          <input type="hidden" value="<%=nasaData.date%>,<%=nasaData.url%>,<%=nasaData.title%>,<%=nasaData.copyright%>" name="userFavoriteData"></input>
          <button class="btn btn-dark" type="submit">Favorite</button>
        </form>
      </div>

      <div id="explanation" class="text-justify ml-5 mr-5"><%=nasaData.expl%></div>
      <br>
      <div class="d-flex flex-row justify-content-start ml-5 mr-5">Source: <%=nasaData.copyright%></div>
    </div>
    
</body>
</html>